<footer class="site-footer">
  <div class="wrapper">
    <div class="site-warp">
      <div class="footer-copy pull-left">
        &copy; {{ site.time | date: '%Y' }}
         - <a href="mailto:{{ site.email }}">{{ site.title }}</a>
      </div>


      <div class="footer-description pull-right">
        {% if site.baseurl %}
          <a class="rss-subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> -
        {% endif %}
        <span>{{ site.description }}</span>
      </div>
    </div>
  </div>
</footer>