<script type="text/javascript" src="{{ "jquery-1.11.3.js" | prepend: site.javascript.javascript_dir | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "jquery.editWord.js" | prepend: site.javascript.javascript_dir | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "bootstrap.js" | prepend: site.javascript.javascript_dir | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "app.js" | prepend: site.javascript.javascript_dir | prepend: site.baseurl }}"></script>