body{
    padding-bottom: $footer-height;
    letter-spacing: $font-letter-spacing;
}

/* 重写原生的样式 */
::selection {
    background: $selection-bg-color;
    color: $selection-color;
}

:focus {
  outline:none;
}

::-moz-focus-inner {
  border:0;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-top: $post-list-spacing;
        margin-bottom: $post-list-spacing;
        > a {
            text-decoration: none;
            border-bottom: 0px solid transparent;
            position: relative;
            padding: 2px 0;

            &:hover {
                color: $post-link-hover-color;
            }

            &::after {
                content: "";
                position: absolute;
                border-bottom: 1px solid $post-link-hover-color;
                width: 0px;
                left: 0;
                bottom: 0;
                @include transition(1s);
            }

            &:hover::after {
                width: 100%;
                @include transition(1s);
            }
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    padding: 0 3px;
}


/**
 * Posts
 */


.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/* Site Footer */
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: $footer-height;
  background-color: $footer-bg-color;
}


.delimiter{
    @extend .post-meta;
}

/* About Me*/
.about-me{
    font-size: $about-me-font-size;
    display: inline-block;
    text-align: center;
    padding-right: 5px;
    border-right: 1px solid #000;
    -webkit-animation: editWord 1s infinite;
    -moz-animation:    editWord 1s infinite;
    animation:         editWord 1s infinite;
}

.pagination {
    width: 100%;
    > .page_number {
        margin: 0 15px;
    }
}